.radio-button {
    width: 16px;
    height: 16px;
    border: 1px solid #B4B4B5;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
  }
  
  .radio-button::after {
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: #B4B4B5;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  input[type="radio"]:checked + label .radio-button::after {
    background-color: #2D6DF6;
  }

  
  /* Clase visualmente oculta para el input */
  .visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    white-space: nowrap;
  }